<%- model_class = PointTotal -%>
<% if can? :manage, PointTotal %>
<div class="page-header">
  <h1><%=t '.title', :default => @student.last_first %></h1>
  <h5>Level: <%= @student.level %></h5>
  <h5>Level Start Date: <%= @student.level_start_date.to_formatted_s(:long) %></h5>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:score) %></th>
      <th><%= model_class.human_attribute_name(:attendance) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @point_totals.each do |point_total| %>
      <tr>
        <td><%= point_total.date.to_formatted_s(:long) %></td>
        <% if point_total.date>=point_total.student.level_start_date %>
          <% if point_total.successful=='yes' %>
            <td class="green"><%= point_total.score %></td>
          <% elsif point_total.successful=='no' %>
            <td class="red"><%= point_total.score %></td>
          <% else %>
            <td><%= point_total.score %></td>
          <%end %>
        <% else %>
          <td><%= point_total.score %></td>
        <% end %>
        <td><%= point_total.attendance %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      student_point_total_path(@student, point_total), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_student_point_total_path(@student, point_total), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      student_point_total_path(@student, point_total),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_student_point_total_path,
            :class => 'btn btn-primary' %>

<% elsif can? :read, PointTotal %>
  <% if @student.id==current_user.student_id %>
    <div class="page-header">
      <h1><%=t '.title', :default => @student.last_first %></h1>
      <h5>Level: <%= @student.level %></h5>
      <h5>Level Start Date: <%= @student.level_start_date.to_formatted_s(:long) %></h5>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:date) %></th>
        <th><%= model_class.human_attribute_name(:score) %></th>
        <th><%= model_class.human_attribute_name(:attendance) %></th>
      </tr>
      </thead>
      <tbody>
      <% @point_totals.each do |point_total| %>
          <tr>
            <td><%= point_total.date.to_formatted_s(:long) %></td>
            <% if point_total.date>=point_total.student.level_start_date %>
                <% if point_total.successful=='yes' %>
                    <td class="green"><%= point_total.score %></td>
                <% elsif point_total.successful=='no' %>
                    <td class="red"><%= point_total.score %></td>
                <% else %>
                    <td><%= point_total.score %></td>
                <%end %>
            <% else %>
                <td><%= point_total.score %></td>
            <% end %>
            <td><%= point_total.attendance %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>