<!DOCTYPE html>
<html>
<head>
  <title>RICA/CEC Student Levels</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<h1>RICA Baltimore</h1>
<h3>Student Level Tracker</h3>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-pills nav-justified">
  <li class="nav-item active"><a href="/students">Home</a></li>
  <% if can? :manage, Student %>
      <li role="presentation"><a href="/changes">Level Changes</a></li>
      <li role="presentation"><a href="/levels">Levels</a></li>
  <% end %>
  <% if can? :read, Homeroom %>
      <li role="presentation"><a href="/homerooms">Homerooms</a></li>
  <% end %>
  <% if can? :manage, User %>
      <li role="presentation"><a href="/users">Users</a></li>
  <% end %>
    </ul>
  </div>
</nav>
<%= yield %>
<%= render 'layouts/user_widget' %>
</body>
</html>
